.border_1 {
    position: relative;
    border: 5px solid gray;
    align-items: center;
}
.crux_font {
    font-family: Arial;
    text-align: center;
    border: 5px solid gray
}
.photo {
    border: 5px solid gray;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#descheading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    color: white;
}
#desc {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
}
.stonedesc {
    border: 5px solid gray;
}
#intro {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background-color: maroon;
    border: 10px solid gray;
}
#shaq {
    background:gray;
    color: maroon;
}
#shaq:hover {
    background: darkred;
    color: #4c4c4c;
}