#mainbody {
    background-color: white;
}
.container {
    text-align: center;
    left: 0;
    right: 0;
   }
  
  .outline {
    position: relative;
    width: 180px;
    height: 140px;
    margin: auto;
    z-index: -1;
    border: 5px solid lightgray;
  }
  
  .introheading {
    text-emphasis-color: black;
    font-size: large;
    font-family: arial;
    width: 300px;
    min-height: 60px;
    margin: auto;
    margin-top: -150px;
  }